{% load bootstrap4 %}
<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    {% bootstrap_css %}
    {% bootstrap_jquery %}
    {% bootstrap_javascript %}
    <title>{% block head_title %}{{ head_title }}{% endblock %}</title>
    {% block head_scripts %}{% endblock %}
</head>
<body class="{% block body_class %}{% endblock %}">
{% block content %}{% endblock %}
{% block body_scripts %}{% endblock %}
</body>
</html>