<!DOCTYPE html>
{% load static %}
<html lang="en">
​
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title></title>
    <style type="text/css">
        @media screen {
            @font-face {
                font-family: 'Lato';
                font-style: normal;
                font-weight: 400;
                src: local('Lato Regular'), local('Lato-Regular'), url(https://fonts.gstatic.com/s/lato/v11/qIIYRU-oROkIk8vfvxw6QvesZW2xOQ-xsNqO47m55DA.woff) format('woff');
            }
        }

        body {
            font-family: "Lato", "Lucida Grande", "Lucida Sans Unicode", Tahoma, Sans-Serif;
        }
    </style>
</head>

<body style="margin: 0px;padding: 0px;background-color: #f8fbff">
    <div style="margin-right: auto; margin-left: auto;max-width: 632px;margin-top: 20px">
        <div style="margin-right: auto; margin-left: auto; border-radius: 9px;">
            <img src="https://document-storage-ap-32033.botics.co/static/img/iep-logo.png" alt="IEP logo" style="width: 42px;margin-right: 10px">
            <span style="position: absolute; margin-top: -8px;font-size: 28px;font-weight: bold">IEP</span>
        </div>
        <div
            style=" border-radius: 9px;padding: 29px;box-shadow: 0 1px 5px rgb(0 0 0 / 10%);background-color: #ffffff;margin-top: 10px; margin-bottom: 30px">
            <div style="text-align: left">
                <p style="margin-bottom: 0px;margin-top: 0px;font-size: 24px;font-weight: bold">Confirm your email
                    address</p>
            </div>
            <p style="margin-bottom: 40px; font-size: 19px;">Your confirmation code is below - enter it in your open
                brower window and we will help you to get sign in.</p>
            <p
                style="margin-top: 20px;margin-bottom: 20px; font-size: 19px;text-align: center;background-color: #f3f3f3;padding: 15px;border-radius: 8px;">
                {{ code }}</p>
            <p style="margin-top: 20px;margin-bottom: 20px; font-size: 14px;">If you didn't request this email, there is
                nothing to wrong about - you can safely ignore it</p>

            <div style="text-align: center;margin-top: 50px">
                <img src="https://document-storage-ap-32033.botics.co/static/img/iep-logo.png" alt="IEP logo" style="width: 42px;">
                <p style="margin-bottom: 0px;margin-top: 10px;font-size: 19px;font-weight: bold">Made by IEP</p>
                <p style="margin-bottom: 0px; font-size: 19px;">Address of the company goes here</p>
                <p style="margin-bottom: 5px; font-size: 19px;"><a href="https://document-storage-ap-32033.botics.co/"
                        target="_blank" style="color: #1A91EB">iep.com</a></p>
                <p style="margin-bottom: 0px; font-size: 19px;">Our Policies</p>
            </div>
        </div>
    </div>

</body>

</html>